/* CSS file for stylinh */

:root {
  --primaryBlue: #004a80;
  --primaryYellow: #f6bc25;
  --defaultWhite: #ffffff;
  --footerText: #999999;
  --secondaryText: #4a4a4a;
  --gradientGray: #e6e6e6;
}

.primaryBlue {
  color: var(--primaryBlue);
}

.primaryYellow {
  color: var(--primaryYellow);
}

.defaultWhite {
  color: var(--defaultWhite);
}

.footerTextColor {
  color: var(--footerText);
}

.secondaryTextColor {
  color: var(--secondaryText);
}

.searchBoxContainer {
  background-color: var(--primaryBlue);
}

.additionalInfoContainer {
  padding-top: 30px;
  background-image: linear-gradient(
    0deg,
    var(--gradientGray) 0%,
    var(--defaultWhite) 100%
  );
}

.infoContainer {
  padding-top: 20px;
  margin: 0 auto;
}

/* custom color for nav bar */
.navbar-custom {
  background-color: var(--primaryBlue);
}

#footerPlaceHolder {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Used to align different html element on the same line */
#sameLine h4,
#sameLine h5,
#sameLine h6,
#sameLine img,
#sameLine a,
#sameLine p {
  display: inline;
  vertical-align: top;

  line-height: 28px;
}

.circle {
  background: var(--primaryBlue);
  line-height: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 40px;
  color: var(--primaryYellow);
  text-align: center;
}

.centerText {
  text-align: center;
}

.formContainer {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
