/* CSS file for styling */

:root {
  --primaryBlue: #004a80;
  --primaryYellow: #f6bc25;
  --defaultWhite: #ffffff;
  --footerText: #999999;
  --secondaryText: #4a4a4a;
  --gradientGray: #e6e6e6;
  --buttonNotHovered: #f2da56;
  --errorColor: #dc0015;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
main {
  flex: 1;
}

.primaryBlue {
  color: var(--primaryBlue);
}

.primaryYellow {
  color: var(--primaryYellow);
}

.defaultWhite {
  color: var(--defaultWhite);
}

.footerTextColor {
  color: var(--footerText);
}

.secondaryTextColor {
  color: var(--secondaryText);
}

.searchBoxContainer {
  background-color: var(--primaryBlue);
}

.additionalInfoContainer {
  padding-top: 30px;
  background-image: linear-gradient(
    0deg,
    var(--gradientGray) 0%,
    var(--defaultWhite) 100%
  );
}

.infoContainer {
  padding-top: 20px;
  margin: 0 auto;
}

/* custom color for nav bar */
.navbar-custom {
  background-color: var(--primaryBlue);
}

.btn-custom {
  background-color: var(--buttonNotHovered);
}

.btn-custom:hover {
  background-color: var(--primaryYellow);
}

#footerPlaceHolder {
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0%;
}

/* Used to align different html element on the same line */
#sameLine h4,
#sameLine h5,
#sameLine h6,
#sameLine img,
#sameLine a,
#sameLine p {
  display: inline;
  vertical-align: top;

  line-height: 28px;
}

.circle {
  background: var(--primaryBlue);
  line-height: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 40px;
  color: var(--primaryYellow);
  text-align: center;
}

.centerText {
  text-align: center;
}

.formContainer {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

/* Customized jquery validator color style */
.error {
  color: var(--defaultWhite);
  background-color: var(--errorColor);
}

/* Loading modal style */
#modal {
  display: none;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* Used to center the modal loading gif */
.center {
  z-index: 1000;
  margin: 300px auto;
  padding: 10px;
  width: 130px;
  background-color: White;
  border-radius: 10px;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
}
.center img {
  height: 128px;
  width: 128px;
}

.center h5 {
  color: var(--primaryBlue);
  padding-top: 10px;
  width: fit-content;
  height: 128px;
  text-align: center;
}
